.main{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    height: 1000px;
}
.main_pagename{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #4e2c24;
    font-size:45px ;
}