html{
    height: 100%;
    width: 100%;
}
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    height: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 305px;
    width: 100%;  
}
.header_back{
    filter: blur(2px);
    z-index: -1;
    position: fixed;
    left: 0; right: 0; 
    top: -15px; bottom: 0;
}
.header_logo{
    width: 50%;
    z-index: 1;
    display: flex;
}
.header_menu_logoimg{
    margin: 10px;
    margin-top: 10px;
    margin-left: 50px;
    height: 70%;
    width:110px;
    height: 100px;
}
.header_logoname{
    color: white;
    text-align: left;
    font-optical-sizing: auto;
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 600;
    font-size: 30px; 
}
.header_menu{
    z-index: 100;
    background: #fc814c;
    position: fixed;
    height: 160;
    width: 1464;
    padding: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    top: 0px;
    transition: all 1s;
}
.header_menu_nav{
    grid-column-start: 2;
    height: auto;
    width: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    z-index: 2;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
}
.header_menu_nav_item {
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    margin: 5px;
    text-align: center;
    margin:auto;
    transition: 0.5s;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    white-space: nowrap;
}
.header_menu_nav_item:hover {
    color: white;
    font-size: 20px;
    font-family:sans-serif;
    margin: 10px;
    text-align: center;
    margin:auto;
    background-color: #f34a16be;
    transition: 0.1s;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.but1{
   
    grid-row-start: 2;
}
.but2{
    grid-row-start: 2;
}
.but3{
    grid-row-start: 2;
}
.but4{
    grid-row-start: 2;

}
.group:hover .group-content {
    display: block;
    overflow-y: scroll;
    width: 100px;
    height:840px;
}
.group-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}
.dropbtn{
    color: white;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    text-align: center;
    transition: 0.5s;
    text-decoration: none;
    background-color: #f34a1600;
    border: none;
}
.group {
    position: relative;
    display: inline-block;
}
.group-content a {
    color: #FC804C;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
main{
    margin-top: 100px;
    width: 100%;
    
    background: white;
}
.main_pagename{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #4e2c24;
    font-size:45px ;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: #FC804C;
}
.main_h1_napr{
    position: relative;
    padding-top: 50px;
    text-align: center;
    color: #FC804C;
}
.footer_pod{
    text-align: right;
    font-size: 15px;
    color: #864535;
}