html{
    min-height: 100%;
    max-width: 100%;
}
*{ 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    min-height: 100%;
    max-width: 100%;
    height: 100%;
}

.main{
    
    margin-top: 100px;
    width: 100%;
    height: 1500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px ;
    background: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}
.main_naprav_h1{
    color:white;
    font-size: 15px;
    text-decoration: none;
}
.main_naprav{
    
    width: auto;
    height: auto;
    margin: 15px;
    padding: 30px;
    background: rgb(191, 232, 245);
    transition: 0.4s;
    box-shadow: 1px 5px 10px 1px rgba(5, 16, 51, 0.411);
    border-radius: 10px;
}
.mn1{
    background-image: url('img copy/mainpic1.jpg');
    grid-column-start: 1;
    grid-row-start: 1;
}
.mn2{
    background-image: url('img copy/mainpic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-row-start: 2;
}
.mn3{
    background-image: url('img copy/mainpic3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 2;
    grid-row-start: 1;
}
.mn4{
    background-image: url('img copy/mainpic4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 2;
    grid-row-start: 2;
}
.main_naprav_podrob{
    position: absolute;
    padding: 10px;
    text-decoration: none;
    color: rgb(10, 6, 240);
    background-color: #ffffffc2;
    border-radius: 10px;
    width: auto;
    height: auto;
    cursor: pointer;
}
