* {
	word-wrap:break-word;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.wrapper_slider {
	height: 50vw;
	position: relative;
	width: auto;
}
@media (max-width: 720px) {
	.wrapper_slider {
		height: 500px;
		position: relative;
		width: 100%;
	}
}
.back_slider{
	background: #ff0f37;
	margin: 0px -100px 0px -100px;
	padding:100px 100px 100px 100px;
	box-sizing: border-box;
	height: auto;	
}
@media (max-width: 720px) {
	.back_slider{
		background: #ff0f37;
		margin: 0px -15px 0px -20px;
		padding:10px;
		box-sizing: border-box;	
	}
}

.slider {
	background-color: #ddd;
	height: 40vw;
	overflow: hidden;
	position: relative;
	width: 100%;
	border-radius: 20px;
}
@media (max-width: 720px) {
	.slider {
		height: 400px;
		overflow: hidden;
		position: relative;
		width: 100%;;
		border-radius: 0px;
	}
}
.wrapper_slider> input {
	display: none;
}

.slides {
	background: #ffffff; 
	padding:  0px 0px 0px 0px ;
	height: inherit;
	position: absolute;
	width: 100%;
}


.slide1 { 
	display: flex;
	flex-direction: row;
}
@media (max-width: 720px) {
	.slide1 { 
		display: flex;
		flex-direction: column-reverse;
	}
}
.slide2 { 
	padding: 50px 100px 50px 100px;
	display: flex;
	flex-direction: row;
}
@media (max-width: 720px) {
	.slide2 { 
		padding: 5px 10px 5px 10px;
		display: flex;
		flex-direction: column;
	}
}
.slide3 {
	padding: 50px 50px 150px 50px;
	display: flex;
	flex-direction: row;
}
@media (max-width: 720px) {
	.slide3 {
		padding: 5px 5px 15px 5px;
		display: flex;
		flex-direction: column;
	}
}
.slide4 { 
	display: flex;
	flex-direction: row;
	padding: 5px 5px 0px 5px;
}
@media (max-width: 720px) {
	.slide4 { 
		display: flex;
		flex-wrap: wrap;
		padding: 5px 5px 0px 5px;
	}
}
.slide5 { 
	background-image: url(slide5.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
@media (max-width: 720px) {
	.slide5 { 
		background-image: url(slide5.png);
		background-repeat: no-repeat;
		background-size: 150%;
	}
}

.slide6 { 
	display: flex;
	flex-direction: row;
	padding: 50px 50px 0px 50px;
}
@media (max-width: 720px) {
	.slide6 { 
		display: flex;
		flex-direction: column;
		padding: 5px 5px 0px 5px;
	}
}
.wrapper_slider .controls {
	left: 40%;
	position: absolute;
}
@media (max-width: 720px) {
	.wrapper_slider .controls {
		left: 15%;
		position: absolute;
	}
}                    
.slide1_img{
	width: 50vw;
	height: 40vw;
	margin: 0px 0px 0px -110px;
}
@media (max-width: 720px) {
	.slide1_img{
		width: 50vw;
		height: 40vw;
		margin: 0px 0px 0px 110px;
	}
} 
.slide1 p{
	margin-right: 50px;
	text-align: right;
	color: #000b47;
	font-size: 35px;
	font-weight:550;
	line-height: 50px;
	text-indent: 50px;
	margin-top: 50px;
}
@media (max-width: 720px) {
	.slide1 p{
		text-align: left;
		margin:100px 0px 0px 20px;
		font-size: 20px;
		font-weight:550;
		line-height: 25px;
	}
} 
.slide2 p{
	text-align: left;
	color: #4e0c03;
	font-size: 35px;
	font-weight:550;
	line-height: 50px;
	text-indent: 50px;
	margin-top: 50px;
}
@media (max-width: 720px) {
	.slide2 p{
		text-align: left;
		font-size: 20px;
		font-weight:550;
		line-height: 22px;
		margin:20px 0px 0px 10px;
	}
} 
.slide2 img{
	width: 650px;
	height:650px;
	margin: 1vw;
}
@media (max-width: 720px) {
	.slide2 img{
		width: 30vw;
		height:40vw;
		margin:0px 0px 0px 100px;
	}
} 
.slide3 p{
	margin: 50px 50px 0px 0px;
	text-align: right;
	color: #4e0c03;
	font-size: 35px;
	font-weight:550;
	line-height: 50px;
	text-indent: 50px;
	margin-top: 50px;
}
@media (max-width: 720px) {
	.slide3 p{
		margin: 15px 25px 0px 0px;
		text-align: right;
		color: #4e0c03;
		font-size: 20px;
		font-weight:550;
		line-height: 20px;
	}
} 
.slide3 img{
	width: 50vw;
	height: 40vw;
}
@media (max-width: 720px) {
	.slide3 img{
		width: 50vw;
		height: 50vw;
	}
	.slide4 img{
		width: 50vw;
		height: 40vw;
	}
} 
.slide4 p{
	margin: 50px 50px 0px 50px;
	color: #030e50;
	font-weight:600;
	font-size:30px;
	line-height: 50px;
}
@media (max-width: 720px) {
	.slide4 p{
		color: #030e50;
		font-size: 20px;
		font-weight:550;
		line-height: 27px;
	}
} 
.slide4_p2{
	text-align: right;
}
@media (max-width: 720px) {
	.slide4_p2{
		display: none;
	}
} 
.slide4_p1{
	text-align: left;
}
@media (max-width: 720px) {
	.slide4_p1{
		text-align: center;
		margin: 50px 0px 0px 100px;
	}
}
@media (max-width: 720px) {
	.slide4 img{
		margin: 15px 0px 0px 100px;
	}
}
.slide5 p{
	text-align: left;
	margin: 50px 50px 0px 0px;
	color: #ffffff;
	font-weight:600;
	font-size: 35px;
	line-height: 60px;
	text-indent: 50px;
}
@media (max-width: 720px) {
	.slide5 p{
		text-align: left;
		margin: 45px 0px 0px 25px;
		color: #ffffff;
		font-size: 19px;
		font-weight:550;
		line-height: 27px;
	}
	
}
.slide6 p{
	text-align: right;
	margin: 50px 50px 0px 0px;
	color: #030e50;
	font-weight:600;
	font-size: 35px;
	line-height: 60px;
	text-indent: 50px;
}
@media (max-width: 720px) {
	.slide6 p{
		text-align: right;
		margin: 0px 25px 0px 0px;
		color: #030e50;
		font-size: 19px;
		font-weight:550;
		line-height: 27px;
	}
	.slide6 img{
		margin: 0px 0px 0px 0px;
		width: 50vw;
		height: 40vw;
	}
	
}
.wrapper_slider label {
	cursor: pointer;
	display: inline-block;
	margin: 25px 12px 0 16px;
	position: relative;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.wrapper_slider label:after {
	border: 2px solid #ffffff;
	content: " ";
	display: block;
	height: 19px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 19px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
    
}
.wrapper_slider label {
	cursor: pointer;
	display: inline-block;
	height: 15px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 15px;
}

.wrapper_slider label:hover, 
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3),
#slide4:checked ~ .controls label:nth-of-type(4),
#slide5:checked ~ .controls label:nth-of-type(5),
#slide6:checked ~ .controls label:nth-of-type(6) {
	background:  #c7deff;
}
.slides {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
	-webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	-o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
	transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3,
#slide4:checked ~ .slider > .slide4,
#slide5:checked ~ .slider > .slide5,
#slide6:checked ~ .slider > .slide6 {
	opacity: 1;
	z-index: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
