.main{
    height: auto;
    padding: 0px 2vw  0px 2vw;

}
.main_h2_napr{
    text-align: center;
    color: #002a69;
    font-size: 30px;
    padding: 10px;
}
.main_h1_napr{
    text-align: center;
    color:#002a69; 
    font-size: 50px;
    font-weight:600; 
}


.wrapper{
    margin-top: 100px;
}
.wrapper_blocks{
    word-wrap:break-word;
    padding: 30px;
}
.wrapper_block1{
    color: #5a9cff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    
}
.wrapper_block1_one{
    font-family: sans-serif;
    font-size: 35px;
    font-weight:700; 
}
.wrapper_block1_two{
    font-family: sans-serif;
    font-size: 25px;
    font-weight:500; 
}
.wrapper_block2{
    display: flex;
    flex-direction: row;
}

.wrapper_block2_textgruppe{
    border-radius: 25px;
    width:1000px;
    padding: 50px;
    background: coral;
}
.wrapper_block2_h2{
    color: white;
    font-size: 25px;
    font-weight:500; 
}
.wrapper_block2_h2_one{
    background-color: #f73c23;
    width: 200px;
    padding: 10px;
    margin: 10px;
    transform: rotate(1.5deg);
    margin-left: -15px;
    word-wrap: normal;
}
.wrapper_block2_h2_two{
    background-color: #ff0f37;
    width: 100%;
    padding: 10px;
    margin: 10px;
    transform: rotate(-1deg);
}
.wrapper_block2_text{
    font-family: sans-serif;
    font-size: 25px;
    font-weight:100;
    color: white;
    padding: 5px;
}

.wrapper_block3{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
.wrapper_block3 h2{
    padding: 20px;
    color: #ffffff;
    font-size: 50px;
    text-align: right;
    padding-right: 200px;
}
@media (max-width: 720px) {
	.wrapper_block3 h2{
        padding: 20px;
        color: #ffffff;
        font-size: 35px;
        text-align: right;
        padding-right: 50px;
    }
} 
.wrapper_block4{
    margin: 100px 0px 0px 0px;
}

.wrapper_block4 h2{
    word-wrap:break-word;
    font-size: 40px;
    color: #000b47;
}
@media (max-width: 720px) {
	.wrapper_block4 h2{
        margin: 0px 0px 50px 0px;
        word-wrap:break-word;
        font-size: 25px;
        color: #000b47;
    }
} 
.block4_div{
    margin: 0px 0px 0px 15px;
    display: flex;
    flex-wrap: wrap;
}
.block4_div img{
    border-radius: 30px;
    width: 500px ;
    height:350px ;
}
@media (max-width: 720px) {
	.block4_div img{
        border-radius: 30px;
        width:  200px;
        height: 150px;
    }
}
.block4_div div{
    height: auto;
    width:  auto;
    margin: 30px;
}
@media (max-width: 720px) {
	.block4_div div{
        height: auto;
        width:  auto;
        margin: 20px;
    }
}
.block4_pract{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}
@media (max-width: 720px) {
	.block4_pract{
        background-color: #ffffff;
        padding: 5px;
        border-radius: 10px;
        border: 2px solid rgba(0, 0, 0, 0);
        transition: 0.5s;
    }
}
.block4_pract:hover{
    transition: 0.2s;
    -moz-box-shadow:0 0 20px #5a9cff;
    -webkit-box-shadow:0 0 20px #5a9cff;
    box-shadow:0 0 20px #5a9cff;
}
.block4_pract p{
	font-size: 25px;
	color: #f73c23;
	font-weight:550;
	line-height: 30px;
    text-align: center;
	margin-top: 50px;
    height: 100px;
    width:  500px;
}
@media (max-width: 720px) {
	.block4_pract p{
        font-size: 20px;
        color: #f73c23;
        font-weight:550;
        line-height: 30px;
        text-align: center;
        margin: 5px 0px -80px 0px;
        height: 200px;
        width:  200px;
    }
}