.main{
    height: auto;
    padding: 0px 2vw  0px 2vw;

}
.main_h2_napr{
    text-align: center;
    color: #002a69;
    font-size: 30px;
    padding: 10px;
}
.main_h1_napr{
    text-align: center;
    color:#002a69; 
    font-size: 50px;
    font-weight:600; 
}


.wrapper{
    margin-top: 100px;
}
.wrapper_blocks{
    margin-bottom: 50px;    
}
.wrapper_block1{
    color: #5a9cff;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}
.wrapper_block1_one{
    font-family: sans-serif;
    font-size: 2vw;
    font-weight:700; 
}
.wrapper_block1_two{
    font-family: sans-serif;
    
    font-size: 1.5vw;
    font-weight:500; 
}
.wrapper_block2{
    display: flex;
    flex-direction: row;
}

.wrapper_block2_textgruppe{
    border-radius: 25px;
    width:80vw;
    padding: 50px;
    background: coral;
}
.wrapper_block2_h2{
    color: white;
    font-size: 1.5vw;
    font-weight:500; 
    
}
.wrapper_block2_h2_one{
    background-color: #f73c23;
    width: 13vw;
    padding: 10px;
    margin: 10px;
    transform: rotate(1.5deg);
    margin-left: -15px;
}
.wrapper_block2_h2_two{
    background-color: #ff0f37;
    width: 40vw;
    padding: 10px;
    margin: 10px;
    transform: rotate(-1deg);
}
.wrapper_block2_text{
    font-size: 25px;
    font-weight:100;
    color: white;
    padding: 5px;
}

.wrapper_block3{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}
.wrapper_block3 h2{
    padding: 20px;
    color: #ffffff;
    font-size: 50px;
    text-align: right;
    padding-right: 200px;
}

.wrapper_block4{
    margin-top: 100px;
}
.wrapper_block4 h2{
    font-size: 40px;
    color: #000b47;
}

.block4_div{
    margin: 0px 0px 0px 15%;
    display: flex;
    flex-wrap: wrap;
}
.block4_div img{
    border-radius: 30px;
    width: 500px ;
    height:350px ;
}

.block4_div div{
    height: 640px;
    width:  540px;
    margin: 30px;
}
.block4_pract{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: 0.5s;
}
.block4_pract:hover{
    transition: 0.2s;
    -moz-box-shadow:0 0 20px #5a9cff;
    -webkit-box-shadow:0 0 20px #5a9cff;
    box-shadow:0 0 20px #5a9cff;
}
.block4_pract p{
	font-size: 25px;
	color: #f73c23;
	font-weight:550;
	line-height: 30px;
    text-align: center;
	margin-top: 50px;
    height: 100px;
    width:  500px;
}