*{
    margin: 0;
    padding: 0;
}

body{
    background: #121212;
}

.container{
    width: auto;
    height: 600px;
}

.nav{
    width: auto;
    height: 40px;
    display: flex;
    justify-content: center;
}

.navbar{
    width: 1000px;
    height: 40px;
    display: flex;
    justify-content: center;
}

.left-element{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-family: arial;
    color: #e1e3e6;
}

.right-element{
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
}

.right-left{
    width: 160px;
    height: 30px;
    border-radius: 30px;
    background: #404040;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-right{
    width: 160px;
    height: 30px;
    border-radius: 30px;
    background: #404040;
    display: flex;
    align-items: center;
    justify-content: center;

}